<mat-toolbar color="primary" class="header">
    <span><img src="../../assets/logo_grande.png"></span>
    <span class="spacer"></span>
    
    <mat-form-field class="search-input">
      <input matInput placeholder="Buscar productos">
    </mat-form-field>
  
    <a mat-button href="home">Home</a>
  
    <button mat-icon-button class="icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button class="icon">
        <mat-icon>perm_identity</mat-icon>
    </button>
</mat-toolbar>
  