<div class="wrapper">
    <form [formGroup]="loginForm" (submit)="login()">
        <h1>Login</h1>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <div class="input-box">
            <input formControlName="email" type="text" placeholder="Email" required>
            <i class='bx bx-envelope'></i>
            <small *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">Tienes que ingresar un email</div>
                <div *ngIf="email.errors?.['email']">Ingresa un email valido</div>
            </small>        
        </div>
        <div class="input-box">
            <input formControlName="password" type="password" placeholder="Password" required>
            <i class='bx bx-lock'></i>
            <small *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']">Username is required</div>
            </small>
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox"> Recuérdame </label>
            <a href="login">¿Se te olvidó la contraseña?</a>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="register-link">
            <p>¿No tienes cuenta? <a href="register">Regístrate</a></p>
        </div>
    </form>
</div>

<app-footer></app-footer>