<div class="wrapper">
  <form [formGroup]="registerForm" id="register-form" class="register-form" (submit)="register()">
      <h1>Regístrate</h1>

      <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
      </div>

      <div class="input-box">
          <input formControlName="nickname" type="text" id="nickname" name="nickname" placeholder="Nickname" required>
          <small *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="block p-error">
              <div *ngIf="nickname.errors?.['required']">Nickname is required</div>
          </small>
      </div>

      <div class="input-box">
          <input formControlName="realName" type="text" id="realName" name="realName" placeholder="Real name" required>
          <small *ngIf="realName.invalid && (realName.dirty || realName.touched)" class="block p-error">
              <div *ngIf="realName.errors?.['required']">Real Name is required</div>
          </small>
      </div>

      <div class="input-box">
          <input formControlName="address" type="text" id="address" name="address" placeholder="Address" required>
          <small *ngIf="address.invalid && (address.dirty || address.touched)" class="block p-error">
              <div *ngIf="address.errors?.['required']">Address is required</div>
          </small>
      </div>

      <div class="input-box">
          <input formControlName="email" type="email" id="email" name="email" placeholder="Email" required>
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">Invalid Email</div>
          </small>
      </div>

      <div class="input-box">
          <input formControlName="phone" type="tel" id="phone" name="phone" placeholder="Phone" required>
          <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="block p-error">
              <div *ngIf="phone.errors?.['required']">Phone is required</div>
          </small>
      </div>

      <div class="input-box">
          <input formControlName="password" type="password" id="password" name="password" placeholder="Password" required>
          <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
              <div>Password is required</div>
          </small>
      </div>

      <div class="form-group">
          <button class="btn">Registrar</button>
      </div>
  </form>
</div>
